<a href="https://colab.research.google.com/github/lakshmitarun/KHUB_T9_TARUN/blob/main/KHUB_WEEK_ONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

string

string is the sequence of the characters that written in the quotes like single or double quotes, its include the letter and the numbers its immutable it cannot change single characters
its used tgo display the text

In [ ]:
print('i am tarun jr developer in khub from team 9')

i am tarun jr developer in khub from team 9

In [ ]:
print("skills html and css ")

skills html and css

assign the variable the string

In [ ]:
a= "tarun "
print(a)

tarun

string in the arrays

In [ ]:
a="hello i am tarun "
print(a[11])

t

strings in loops

In [ ]:
for x in "tarun":
   print(x)

t
a
r
u
n

In [ ]:
a = "tarun today topic is the python basics"
print(len(a))

38

slicing sting in the python that exract particular part from the string using syntax like string[start:stop:step]

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[0:5])

i am

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[7:20:1])

run jr develo

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[-6:-1:])

team

modifying string

In [ ]:
int= "HELLO TARUN "
print(int.lower())

hello tarun

In [ ]:
int= "hello tarun "
print(int.upper())

HELLO TARUN

In [ ]:
int= "     HELLO TARUN   "
print(int.split())

['HELLO', 'TARUN']

In [ ]:
int= ".....HELLO TARUN...."
print(int.strip('.'))

HELLO TARUN

In [ ]:
int= "HELLO TARUN "
print(int.replace('HELLO','GOOD'))

GOOD TARUN

CONcatenate string: adding the two more string in the one string

In [ ]:
a="tarun"
b=" pro player"
print(a+b)

tarun pro player

In [ ]:
a="tarun"
b=" pro player"
c= a + " " + b
print(c)

tarun  pro player

Format strings let you insert values (like variables, numbers, results) into a string it will  clean and readable way.

In [ ]:
age ="19"
name =" my name is tarun " +age
print(name)

 my name is tarun 19

In [ ]:
age ="19"
name = f" my name is tarun,  my {age} year old"
print(name)

 my name is tarun,  my 19 year old

An escape character we can use special characters inside a string  characters that normally can't be written directly (like newlines, tabs, quotes

In [ ]:
game =" your \n game"|
print(game)

 your
 game

In [ ]:
game =" your game is \"over\""
print(game)

 your game is "over"

string method is a built-in function that you can call on a string object to perform common tasks, like changing case, finding text, or modifying the string.

In [ ]:
text = "Hello"
print(text.lower())

hello

In [ ]:
text = "python BASICS"
print(text.capitalize())

Python basics

string Boolean refers to how a string evaluates to True or False when used in conditions or logic.

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than")

b is not greater than

An operator in Python is a special symbol or keyword used to perform operations on values or variables.

In [ ]:
a = 22
b = 25

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a or b =", a or b)
print("a % b =", a % b)

a + b = 47
a - b = -3
a * b = 550
a or b = 22
a % b = 22

A list is an ordered, changeable collection of items in Python, written using square brackets [].

In [ ]:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits[0])
fruits.append("orange")
fruits.remove("banana")
print(fruits)

apple
['apple', 'cherry', 'mango', 'orange']

In [ ]:
a = [5, 2, 9]
b = [1, 6, 3]
merged = a + b
merged.sort()
print("Merge & Sort:", merged)

Merge & Sort: [1, 2, 3, 5, 6, 9]

In [ ]:
nums = [7, 3, 9, 1, 5]
nums.sort(reverse=True)
print("Reverse Sort:", nums)

Reverse Sort: [9, 7, 5, 3, 1]

List methods are built-in functions in Python that allow you to manipulate, modify, search, or manage list data

In [ ]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 3, 4]
a.insert(1, 2)
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 2]
a.extend([3, 4])
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 2]
a.remove(2)
print(a)

[1, 3, 2]

In [ ]:
a = [1, 2, 3]
a.pop(1)
print(a)

[1, 3]

In [ ]:
a = [1, 2, 3]
a.clear()
print(a)

[]

In [ ]:
a = [1, 2, 2, 3]
print(a.count(2))

2

In [ ]:
a = [3, 1, 4, 2]
a.sort()
print(a)

[1, 2, 3, 4]

 tuple is an ordered, unchangeable (immutable) collection of values in Python, defined using parentheses ().

In [ ]:
coordinates = (10, 20)
print(coordinates[0])

10

 set is an unordered, unindexed, and mutable collection of unique elements, defined using curly braces {} or the set() function.

No duplicates allowed

Unordered (no indexing/slicing)

Mutable (you can add/remove items)

Elements must be immutable (like numbers, strings, tuples)

In [ ]:
s = {1, 2, 3, 4}
s.add(5)
print(s)

In [ ]:
s = set()
s.add("hello")
print(s)

Set methods are built-in Python functions that allow you to add, remove, combine, or compare elements within sets

In [ ]:
s = {1, 2, 3}

s.add(4)
print(s)

s.update([5, 6])
print(s)

s.remove(2)
print(s)

s.discard(3)
print(s)

s.pop()
print(s)

s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
{1, 4, 5, 6}
{4, 5, 6}
set()

A dictionary is an unordered, mutable collection of key-value pairs in Python, written using curly braces {} with a colon : between keys and values.

In [ ]:
student = {"name": "Tarun", "age": 21, "grade": "A"}

for key in student:
    print(key, student[key])

name Tarun
age 21
grade A

In [ ]:
student = {"name": "Tarun", "age": 20, "grade": "A"}
print(student["name"])

Tarun

In [ ]:
team = {
    "player1": {"name": "Tarun", "score": 95},
    "player2": {"name": "Ava", "score": 88}
}

for player, details in team.items():
    print(player)
    for key, value in details.items():
        print(key, value)

player1
name Tarun
score 95
player2
name Ava
score 88

conditional statements

 if statement :Executes a block of code only if the condition is True

In [ ]:
a=13
b=14
if a > b:
  print("a is lessthan b")

else :Executes one block if True, another block if False.

In [ ]:
age = 16
if age >= 18:
    print("You can vote")
else:
    print("give me valid input")

give me valid input

else if :Checks multiple conditions. The first True block runs.

In [ ]:
marks = 75
if marks >= 90:
    print("Grade A")
elif marks >= 70:
    print("Grade B")
else:
    print("Grade C")

Grade B

nested if :A nested if means using one if statement inside another. It lets you check multiple conditions in layers

In [ ]:
age = 20
citizen = True

if age >= 18:
    if citizen:
        print("You are eligible to vote")
    else:
        print("You must be a citizen to vote")
else:
    print("You are not old enough to vote")

In [ ]:
a="khub"
print(a[::-1])

buhk

match:The match statement is used for pattern matching, similar to switch-case in other languages

In [ ]:
compliment = "good"
match compliment:
  case "exellent":
    print("A")
  case "good":
    print("B")
  case "average":
    print("c")
  case _:
    print("F")

B