<a href="https://colab.research.google.com/github/lakshmitarun/KHUB_T9_TARUN/blob/main/KHUB_WEEK_ONE_DAY3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

string

string is the sequence of the characters that written in the quotes like single or double quotes, its include the letter and the numbers its immutable it cannot change single characters
its used tgo display the text

In [ ]:
print('i am tarun jr developer in khub from team 9')

i am tarun jr developer in khub from team 9

In [ ]:
print("skills html and css ")

skills html and css

assign the variable the string

In [ ]:
a= "tarun "
print(a)

tarun

string in the arrays

In [ ]:
a="hello i am tarun "
print(a[11])

t

strings in loops

In [ ]:
for x in "tarun":
   print(x)

t
a
r
u
n

In [ ]:
a = "tarun today topic is the python basics"
print(len(a))

38

slicing sting in the python that exract particular part from the string using syntax like string[start:stop:step]

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[0:5])

i am

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[7:20:1])

run jr develo

In [ ]:
a= 'i am tarun jr developer in khub from team 9'
print(a[-6:-1:])

team

modifying string

In [ ]:
int= "HELLO TARUN "
print(int.lower())

hello tarun

In [ ]:
int= "hello tarun "
print(int.upper())

HELLO TARUN

In [ ]:
int= "     HELLO TARUN   "
print(int.split())

['HELLO', 'TARUN']

In [ ]:
int= ".....HELLO TARUN...."
print(int.strip('.'))

HELLO TARUN

In [ ]:
int= "HELLO TARUN "
print(int.replace('HELLO','GOOD'))

GOOD TARUN

CONcatenate string: adding the two more string in the one string

In [ ]:
a="tarun"
b=" pro player"
print(a+b)

tarun pro player

In [ ]:
a="tarun"
b=" pro player"
c= a + " " + b
print(c)

tarun  pro player

Format strings let you insert values (like variables, numbers, results) into a string it will  clean and readable way.

In [ ]:
age ="19"
name =" my name is tarun " +age
print(name)

 my name is tarun 19

In [ ]:
age ="19"
name = f" my name is tarun,  my {age} year old"
print(name)

 my name is tarun,  my 19 year old

An escape character we can use special characters inside a string  characters that normally can't be written directly (like newlines, tabs, quotes

In [ ]:
game =" your \n game"|
print(game)

 your
 game

In [ ]:
game =" your game is \"over\""
print(game)

 your game is "over"

string method is a built-in function that you can call on a string object to perform common tasks, like changing case, finding text, or modifying the string.

In [ ]:
text = "Hello"
print(text.lower())

hello

In [ ]:
text = "python BASICS"
print(text.capitalize())

Python basics

string Boolean refers to how a string evaluates to True or False when used in conditions or logic.

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than")

b is not greater than

An operator in Python is a special symbol or keyword used to perform operations on values or variables.

In [ ]:
a = 22
b = 25

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a or b =", a or b)
print("a % b =", a % b)

a + b = 47
a - b = -3
a * b = 550
a or b = 22
a % b = 22

A list is an ordered, changeable collection of items in Python, written using square brackets [].

In [ ]:
fruits = ["apple", "banana", "cherry", "mango"]
print(fruits[0])
fruits.append("orange")
fruits.remove("banana")
print(fruits)

apple
['apple', 'cherry', 'mango', 'orange']

In [ ]:
a = [5, 2, 9]
b = [1, 6, 3]
merged = a + b
merged.sort()
print("Merge & Sort:", merged)

Merge & Sort: [1, 2, 3, 5, 6, 9]

In [ ]:
nums = [7, 3, 9, 1, 5]
nums.sort(reverse=True)
print("Reverse Sort:", nums)

Reverse Sort: [9, 7, 5, 3, 1]

List methods are built-in functions in Python that allow you to manipulate, modify, search, or manage list data

In [ ]:
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 3, 4]
a.insert(1, 2)
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 2]
a.extend([3, 4])
print(a)

[1, 2, 3, 4]

In [ ]:
a = [1, 2, 3, 2]
a.remove(2)
print(a)

[1, 3, 2]

In [ ]:
a = [1, 2, 3]
a.pop(1)
print(a)

[1, 3]

In [ ]:
a = [1, 2, 3]
a.clear()
print(a)

[]

In [ ]:
a = [1, 2, 2, 3]
print(a.count(2))

2

In [ ]:
a = [3, 1, 4, 2]
a.sort()
print(a)

[1, 2, 3, 4]

 tuple is an ordered, unchangeable (immutable) collection of values in Python, defined using parentheses ().

In [ ]:
coordinates = (10, 20)
print(coordinates[0])

10

 set is an unordered, unindexed, and mutable collection of unique elements, defined using curly braces {} or the set() function.

No duplicates allowed

Unordered (no indexing/slicing)

Mutable (you can add/remove items)

Elements must be immutable (like numbers, strings, tuples)

In [ ]:
s = {1, 2, 3, 4}
s.add(5)
print(s)

In [ ]:
s = set()
s.add("hello")
print(s)

Set methods are built-in Python functions that allow you to add, remove, combine, or compare elements within sets

In [ ]:
s = {1, 2, 3}

s.add(4)
print(s)

s.update([5, 6])
print(s)

s.remove(2)
print(s)

s.discard(3)
print(s)

s.pop()
print(s)

s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
{1, 4, 5, 6}
{4, 5, 6}
set()

A dictionary is an unordered, mutable collection of key-value pairs in Python, written using curly braces {} with a colon : between keys and values.

In [ ]:
student = {"name": "Tarun", "age": 21, "grade": "A"}

for key in student:
    print(key, student[key])

name Tarun
age 21
grade A

In [ ]:
student = {"name": "Tarun", "age": 20, "grade": "A"}
print(student["name"])

Tarun

In [ ]:
team = {
    "player1": {"name": "Tarun", "score": 95},
    "player2": {"name": "Ava", "score": 88}
}

for player, details in team.items():
    print(player)
    for key, value in details.items():
        print(key, value)

player1
name Tarun
score 95
player2
name Ava
score 88

conditional statements

 if statement :Executes a block of code only if the condition is True

In [ ]:
a=13
b=14
if a > b:
  print("a is lessthan b")

else :Executes one block if True, another block if False.

In [ ]:
age = 16
if age >= 18:
    print("You can vote")
else:
    print("give me valid input")

give me valid input

else if :Checks multiple conditions. The first True block runs.

In [ ]:
marks = 75
if marks >= 90:
    print("Grade A")
elif marks >= 70:
    print("Grade B")
else:
    print("Grade C")

Grade B

nested if :A nested if means using one if statement inside another. It lets you check multiple conditions in layers

In [ ]:
age = 20
citizen = True

if age >= 18:
    if citizen:
        print("You are eligible to vote")
    else:
        print("You must be a citizen to vote")
else:
    print("You are not old enough to vote")

In [ ]:
a="khub"
print(a[::-1])

buhk

match:The match statement is used for pattern matching, similar to switch-case in other languages

In [ ]:
compliment = "good"
match compliment:
  case "exellent":
    print("A")
  case "good":
    print("B")
  case "average":
    print("c")
  case _:
    print("F")

B

In [ ]:
a = 4
if a %2==0:
  print("even")
else :
  print("odd")

even

In [ ]:
a = int(input('enter the no :'))
if a>=18:
  print("allowed to vote")
else   :
  print(" not allowed to vote")

enter the no :22
allowed to vote

In [ ]:
a = int(input('enter no;'))
if a==0:
  print("zero")
elif a>0:
  print("postive")
elif a<0:
  print("negatve")
else :
  print("vaild input")

enter no;0
zero

In [ ]:
a = str(input("enter the char:"))
vowels ="a,e,i,o,u,A,E,I,O,U"
if a in vowels:
  print("vowel")
else :
  print(" consonant")

enter the char:n
 consonant

In [ ]:
a = int(input('enter no;'))
b = int(input('enter no;'))
c = int(input('enter no;'))
if  a > b > c:
  print(a)
elif b> a >  c:
  print(b)
elif c> b > a:
  print(c)
else :
  print(" multiple greatest value")

enter no;5
enter no;5
enter no;6
 multiple greatest value

In [ ]:
points = int(input("enter no:"))
if points>=90:
  print("A")
elif points>=80<89:
  print("B")
elif points>=70<79:
  print("C")
elif points>=60<69:
  print("D")
elif points <60:
  print("F")

enter no:89
B

# **todays topics loops and function**
1.date:4/08/2025

loops are used to repeatedly execute a block of code. The main types are:

1.*for loop*
2.*while loop*
3.*nested loop*

for loop:
To iterate over a sequence (list, tuple, string, dictionary, set, or range).

In [ ]:
#tuble
a = ("one","two", 'three', 'four')
for number in a:
  print(number)

one
two
three
four

In [ ]:
#dictionary
dic = {"name":"tarun","age":19, "village":"kandulpalem"}
for key in dic:
  print(key)

name
age
village

In [ ]:
dic = {"name":"tarun","age":19, "village":"kandulpalem"}
for value in dic.values():
  print(value)

tarun
19
kandulpalem

In [ ]:
dic = {"name":"ram","age":22,"city":"kakinada"}
for key,value in dic.items():
  print(key,value)

name ram
age 22
city kakinada

In [ ]:
a = (1,2,3,)
for number in a:
  print(number)

  for i in range(len(a)):
      print(a[i])

1
1
2
3
2
1
2
3
3
1
2
3

In [ ]:
for i in range(0,10,2):
    print(i)
for i in range(3):
  print(i)

0
2
4
6
8

 while loop in Python will keep executing the block of code inside it as long as the condition remains True.

In [ ]:
nows = 1
while nows <10:
  print(nows)
  nows += 1

1
2
3
4
5
6
7
8
9

A nested loop is a loop that exists inside the body of another loop. In other words, a loop inside another loop is called a nested loop.

In [ ]:
for i in range (0,3):
    for j in range(i,j+1):
       print(i,j)

0 0
0 1
1 1

Loop control statements like break and continue help manage the flow inside loops, including inner loops

break is exit the loop and skip other iteration

In [ ]:

for i in range(5):
   if i==3:
    break
   print(i)

0
1
2

The continue statement in Python is a loop control statement used to skip the rest of the code inside the current iteration of a loop and immediately jump to the next iteration of the loop

In [ ]:
for i in range (8):
  if i ==6:
      continue
  print(i)

0
1
2
3
4
5
7

In [ ]:
for i in range (8):
  if i ==6:
      pass
  print(i)

0
1
2
3
4
5
6
7

In [ ]:
name = "Tarun"

for letter in name:
    if letter.lower() in "aeiou":
        print(f"{letter} is a vowel in Tarun")
    else:
        print(f"{letter} is a consonant in Tarun")

T is a consonant in Tarun
a is a vowel in Tarun
r is a consonant in Tarun
u is a vowel in Tarun
n is a consonant in Tarun

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        print(f"{num} is even")

2 is even
4 is even
6 is even
8 is even
10 is even

defining a function means creating a reusable block of code that performs a specific task. You define a function using the def keyword, followed by a function name and parentheses ()

In [ ]:
def tarun(hello):
    print("good evening", hello)
tarun("i am tarun")
tarun("i am your")

good evening i am tarun
good evening i am your

In [ ]:
x = [1,2,3,4,5,6,7]
for i in range(len(x)):
   print(x[i])

1
2
3
4
5
6
7

In [ ]:
n = 5

for i in range(1, + n ):
  print('*' * i)

*
**
***
****

In [ ]:
def sum(tarun,ram):
    return tarun+ram
rahul = sum(5,10)
print(rahul)

15

A function that takes input values (called arguments) to perform a task.

In [ ]:
def add_numbers(a, b):
    result = a + b
    print(f"The sum of {a} and {b} is {result}")

add_numbers(5, 3)

The sum of 5 and 3 is 8

In [ ]:
def runing(name):
    print(f"bike, {name}!")

runing("ktm")

bike, ktm!

scope of a variable refers to the region of a program where that variable is accessible

Local Scope

Variables defined inside a function have local scope.

They can only be accessed inside that function.

Once the function finishes execution

In [ ]:
def my_function():
    x = 10
    print(x)

my_function()
print(x)

10
10

Global Scope

Variables defined outside any function have global scope.

They can be accessed anywhere in the program, including inside functions (unless shadowed by a local variable).

In [ ]:
x = 20

def my_function():
    print(x)

my_function()
print(x)

20
20

In [ ]:
#scope using global keyword
x = 10

def change_x():
    global x
    x = x + 5
    print(x)

change_x()
print(x)

15
15

**lambda function :**
A lambda function is a small, anonymous (without a name) function.

The keyword lambda is used to define a lambda function.

A lambda function can only have a single expression  meaning its body contains only one calculation, operation, or return value

In [ ]:
check_1 = lambda a: a + 12
print(check_1(12))

24

In [ ]:
check_1 = lambda a , b : a * b
print(check_1(5,5))

25

In [ ]:
#map in lambda function
num = [1,2,3,4,]
root = list(map(lambda x:x*2, num))
print(root)

[2, 4, 6, 8]

In [ ]:
#lambda using filter
num = [1,2,3,4,5, 6, 7]
root = list(filter(lambda x:x%2 == 0 ,num))
print(root)

[2, 4, 6]

# **COFFEE MACHINE TASK** day 3

In [ ]:
MENU = {
    "cold coffee": {
        "ingredients": {
            "milk": 50,
            "water": 50,
            "coffee": 76
        },
        "cost": 30
    },
    "normal coffee": {
        "ingredients": {
            "milk": 50,
            "water": 50,
            "coffee": 76
        },
        "cost": 50

    },
    "cappuccino": {
        "ingredients": {
            "milk": 50,
            "water": 50,
            "coffee": 76
        },
        "cost": 30
    }
}

resources = {
    "water": 100,
    "milk": 50,
    "coffee": 76,
    "money": 2
}

def print_report():
    print(f"Water: {resources['water']}ml")
    print(f"Milk: {resources['milk']}ml")
    print(f"Coffee: {resources['coffee']}g")
    print(f"Money: {resources['money']:.2f}")

def is_resource_sufficient(order_ingredients):
    for item in order_ingredients:
        if order_ingredients[item] > resources.get(item, 0):
            print(f"Sorry there is not enough {item}.")
            return False
    return True

def process_coins_inr():
    print("Please insert coins.")
    ten_rs_str = input("How many 10 rupee coins?: ")
    five_rs_str = input("How many 5 rupee coins?: ")
    two_rs_str = input("How many 2 rupee coins?: ")
    one_rs_str = input("How many 1 rupee coins?: ")
    fifty_paise_str = input("How many 50 paise coins?: ")
    twentyfive_paise_str = input("How many 25 paise coins?: ")

    ten_rs = int(ten_rs_str) if ten_rs_str else 0
    five_rs = int(five_rs_str) if five_rs_str else 0
    two_rs = int(two_rs_str) if two_rs_str else 0
    one_rs = int(one_rs_str) if one_rs_str else 0
    fifty_paise = int(fifty_paise_str) if fifty_paise_str else 0
    twentyfive_paise = int(twentyfive_paise_str) if twentyfive_paise_str else 0


    total = (ten_rs * 10) + (five_rs * 5) + (two_rs * 2) + (one_rs * 1) + (fifty_paise * 0.5) + (twentyfive_paise * 0.25)
    return total

def is_transaction_successful(money_received, drink_cost):
    if money_received < drink_cost:
        print("Sorry that's not enough money. Money refunded.")
        return False
    else:
        if money_received > drink_cost:
            change = round(money_received - drink_cost, 2)
            print(f"Here is {change} in change.")
        resources["money"] += drink_cost
        return True

def make_coffee(drink_name, order_ingredients):
    for item in order_ingredients:
        resources[item] -= order_ingredients[item]
    print(f"Here is your {drink_name}. Enjoy!")

while True:
    user_chosen = input("What would you like? (cold coffee/normal coffee/cappuccino): ").lower()
    valid_coffees = ["cold coffee", "normal coffee", "cappuccino"]

    if user_chosen == "off":
        print("Turning off the coffee machine. Goodbye!")
        break

    elif user_chosen == "report":
        print_report()

    elif user_chosen in valid_coffees:
        drink = MENU[user_chosen]
        if is_resource_sufficient(drink["ingredients"]):
            payment = process_coins_inr()
            if is_transaction_successful(payment, drink["cost"]):
                make_coffee(user_chosen, drink["ingredients"])

    else:
        print("Please enter a valid coffee option.")